# Some git issue with installing bitcoinjs-message
# fatal: Not a git repository: node_modules/secp256k1/src/secp256k1-src/../../.git/modules/secp256k1-src
node_modules
# Git ignore the db folders
chaindata
registryqueuedata
